@media screen and ( max-width:768px) {

    .busqueda__superior{
        display: none;
    }

    .lupita{
        order: 5;
    }

    .items__contenedor{
        flex-wrap: wrap;
    }
    
    .items__producto--borrar{
        display: none;
    }

}

@media screen and ( max-width:360px){

    .items__producto{
        width: 45%;
    }

    .menu__inferior{
        flex-direction: column;
    }

    .menu__inferior--logo{
        display: flex;
        flex-direction: row;
    }

    .menu__inferior--menu {
        width: 70%;
        text-align: center;
    }

    .menu__inferior--formulario{
        margin-left: 2rem;
    }

    .iniciarSesion__txt{
        width: 85%;
    }

    .iniciarSesion__btn{
        width: 80%;
    }

}